.navbar{
    position: fixed;
    display: flex;
    justify-content:flex-start;
    width: 100%;
    padding: 20px 0 25px 0;
    background: rgb(248,244,250);
    background: linear-gradient(90deg, rgba(248,244,250,1) 0%, rgba(244,241,244,1) 42%, rgba(15,2,2,1) 100%);
    z-index: 9;
    
}

.navbar .logo{
    color: rgb(2,2,2);
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-right: 1040px;
    margin-left: 20px;
    font-size: xx-large;
}


